{% extends 'base.html' %}
{% load static %}

{% block title %}Apex Биробиджан: О нас{% endblock %}

{% block stylesheet %}
    <link href="{% static 'css/about.css' %}?version=5" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col s12 m10 offset-m1 l8 offset-l2 z-depth-1 about">
                <h4 class="main">Наши контакты</h4>
                <h4>Местоположение</h4>
                <h5>г.Биробиджан</h5>
                <h4>Контактные данные</h4>
                <h5>Телефон: 89140157945</h5>
                <h5>Email: support@apex79.ru</h5>
                <div class="col s12 social-btns">
                    <div class="soc-btn">
                        <a href="https://vk.com/id536867474"><img alt src="{% static 'img/vk.png' %}" class="responsive-img"></a>
                    </div>
                    <div class="soc-btn">
                        <a href="https://www.ok.ru/apex.auto"><img alt src="{% static 'img/odnkl.png' %}" class="responsive-img"></a>
                    </div>
                    <div class="soc-btn">
                        <a href="https://vk.com/away.php?utf=1&to=https%3A%2F%2Finstagram.com%2Fapex_auto79%3Futm_source%3Dig_profile_share%26igshid%3Dyzahv6g8d1aq"><img alt src="{% static 'img/insta.png' %}" class="responsive-img"></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock content %}

{% block script %}
{% endblock %}