{% extends 'base.html' %}
{% load static %}

{% block title %}Apex Биробиджан{% endblock %}

{% block stylesheet %}
    <link href="{% static 'css/index.css' %}?version=6" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col s12">
                <div class="col s12 index-about z-depth-1">
                    <h3>О нас</h3>
                    <p>APEX AUTO это ваш надежный партнер в выборе автомобиля. С нашей помощью вы сможете приобрести автомобиль не боясь обмана со стороны продавца.</p>
                    <p>Почему стоит выбрать именно APEX?</p>
                    <ul>
                        <li>Гарантия юридической чистоты</li>
                        <li>Гарантия соответствия технического состояния заявленного вами</li>
                        <li>Помощь в оформлении ДКП</li>
                        <li>Поиск автомобиля до результата</li>
                        <li>Возможность получить лучший автомобиль за свои деньги.</li>
                    </ul>
                </div>
            </div>
            <div class="col s12 m6 l4">
                <div class="col s12 z-depth-1 about-card no-padding">
                    <div class="col s12 no-padding">
                        <img alt class="responsive-img" src="{% static 'img\apex2.jpg' %}">
                    </div>
                    <div class="col s12 bottom-block">
                        <h5 class="price">3000р.</h5>
                        <div class="col s10 offset-s1 l8 offset-l2">
                        <a href="/service/order?id=1" class="waves-effect waves-light btn-large full-width green lighten-1">Заказать</a>
                        </div>
                    </div>
                </div>
           </div>
            <div class="col s12 m6 l4">
                <div class="col s12 z-depth-1 about-card no-padding">
                    <div class="col s12 no-padding">
                        <img alt class="responsive-img" src="{% static 'img\apex3.jpg' %}">
                    </div>
                    <div class="col s12 bottom-block">
                        <h5 class="price">12500р.</h5>
                        <div class="col s10 offset-s1 l8 offset-l2">
                        <a href="/service/order?id=2" class="waves-effect waves-light btn-large full-width green lighten-1">Заказать</a>
                        </div>
                    </div>
                </div>
           </div>
            <div class="col s12 m6 l4 hide-on-med-only">
                <div class="col s12 z-depth-1 about-card no-padding">
                    <div class="col s12 no-padding">
                        <img alt class="responsive-img" src="{% static 'img\apex1.jpg' %}">
                    </div>
                    <div class="col s12 bottom-block">
                        <h5 class="price">11000р.</h5>
                        <div class="col s10 offset-s1 l8 offset-l2">
                        <a href="/service/order?id=3" class="waves-effect waves-light btn-large full-width green lighten-1">Заказать</a>
                        </div>
                    </div>
                </div>
           </div>
            <div class="col s12 l4 show-on-med-only">
                <div class="col s6 offset-s3 z-depth-1 about-card no-padding">
                    <div class="col s12 no-padding">
                        <img alt class="responsive-img" src="{% static 'img\apex1.jpg' %}">
                    </div>
                    <div class="col s12 bottom-block">
                        <h5 class="price">11000р.</h5>
                        <div class="col s10 offset-s1 l8 offset-l2">
                        <a href="/service/order?id=3" class="waves-effect waves-light btn-large full-width green lighten-1">Заказать</a>
                        </div>
                    </div>
                </div>
           </div>
            <div class="col s12 m12 l10 offset-l1">
                <div class="col s12 z-depth-1 about-img no-padding">
                    <img class="responsive-img" src="{% static 'img/Service.jpg' %}">
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block script %}
{% endblock %}