{% extends 'base.html' %}
{% load static %}

{% block title %}Apex Биробиджан: О нас{% endblock %}

{% block stylesheet %}
    <link href="{% static 'css/index.css' %}?version=2" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col s12 m6 l4">
                <div class="col s12 z-depth-1 about-card">
                    <div class="col s6 offset-s3">
                        <img class="responsive-img circle" src="{% static 'img\Example.jpg' %}">
                    </div>
                    <div class="col s12">
                        <h5>Выездная проверка автомобиля экспертом</h5>
                        <ul>
                            <li>Проверка автомобиля по 100 параметрам</li>
                            <li>Оценка стоимости автомобиля</li>
                            <li>Диагностический лист на фирменном бланке</li>
                            <li>Аргументированный торг с продавцом</li>
                            <li>Экспертная оценка целесообразности покупки</li>
                            <li>Скидка 5% при заказе подбора автомобиля</li>
                        </ul>
                    </div>
                    <div class="col s10 offset-s1 l8 offset-l2">
                        <a href="/serviceorder?id=1" class="waves-effect waves-light btn-large full-width green lighten-1">Заказать</a>
                    </div>
                </div>
           </div>
            <div class="col s12 m6 l4">
                <div class="col s12 z-depth-1 about-card">
                    <div class="col s6 offset-s3">
                        <img class="responsive-img circle" src="{% static 'img\Example.jpg' %}">
                    </div>
                    <div class="col s12">
                        <h5>Эксперт на день</h5>
                        <ul>
                            <li>Преимущества выездной проверки</li>
                            <li>Советы по выбору объявлений</li>
                            <li>Неограниченное количество автомобилей в течение дня</li>
                            <li>Перемещение на автомобиле эксперта</li>
                            <li>Стоимость выгоднее, чем при разовом выезде</li>
                            <li>Скидка 5% при заказе подбора автомобиля</li>
                        </ul>
                    </div>
                    <div class="col s10 offset-s1 l8 offset-l2">
                        <a href="/serviceorder?id=2" class="waves-effect waves-light btn-large full-width green lighten-1">Заказать</a>
                    </div>
                </div>
           </div>
            <div class="col s12 m6 l4">
                <div class="col s12 z-depth-1 about-card">
                    <div class="col s6 offset-s3">
                        <img class="responsive-img circle" src="{% static 'img\Example.jpg' %}">
                    </div>
                    <div class="col s12">
                        <h5>Подбор автомобиля под ключ</h5>
                        <ul>
                            <li>Преимущества выездной проверки</li>
                            <li>Экономия личного времени и денег</li>
                            <li>Сопровождение процесса покупки</li>
                            <li>Контроль передачи денег и оформления документов</li>
                            <li>Поиск автомобиля до результата</li>
                            <li>Возможность получить лучший авто за свои деньги</li>
                        </ul>
                    </div>
                    <div class="col s10 offset-s1 l8 offset-l2">
                        <a href="/serviceorder?id=3" class="waves-effect waves-light btn-large full-width green lighten-1">Заказать</a>
                    </div>
                </div>
           </div>
        </div>
    </div>
{% endblock content %}

{% block script %}
{% endblock %}