.about {
    margin-top: 30px;
    padding: 50px !important;
    background: url("../img/Pattern1.jpg") repeat;
}
.about h4.main {
    margin-top: 0;
    margin-left: 0;
    font-weight: 400;
}
.about h4 {
    margin-left: 25px;
}
.about h5 {
    margin-left: 50px;
}
.about h6 {
    margin-left: 50px;
}

@media only screen and (max-width: 600px) {
    .about h4 {
        font-size: 18px;
    }
    .about h5 {
        font-size: 16px;
    }
    .about h6 {
        font-size: 14px;
    }
}