.index-about{
    margin-top: 30px;
    background: url("../img/Pattern1.jpg") repeat;
    padding: 20px !important;
}
.index-about h3 {
    margin-top: 10px;
}
.index-about p {
    font-weight: 500;
}
.index-about ul:not(.browser-default)>li {
    list-style: circle inside;
}
.index-about ul>li {
    list-style: disc inside;
    font-weight: 500;
}
.no-padding {
    padding: 0 !important;
}
.about-card{
    margin-top: 30px;
}
.about-card .bottom-block{
    padding: 20px 0;
}
.about-card h5.price{
    font-weight: 500;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 0;
}
.about-img{
    margin-top: 30px;
}
.show-on-med-only{
    display: none;
}
@media only screen and (max-width: 992px) and (min-width: 600px){
    .show-on-med-only{
        display: block;
    }
}