.nav-wrapper .logo img {
    height: 64px;
    width: auto;
    padding: 0 15px;
}
.nav-wrapper .text a {
    font-size: 18px;
    font-weight: 500;
    padding: 0 15px;
}

.nav-wrapper a {
    padding: 0;
    height: 64px;
}

.nav-wrapper .icon a {
    padding: 0 15px;
}
.nav-wrapper .icon i {
    margin: 0;
}