{% load static %}
<nav>
    <div class="nav-wrapper green lighten-1">
        <div class="container">
            <ul class="left">
                <li class="logo"><a href="/"><img class="nav-logo" src="{% static 'img/Apex.png' %}" ></a></li>
                <li class="text"><a href="/about/">О нас</a></li>
            </ul>

            {% if user.is_superuser %}
            <ul id="nav-mobile" class="right">
                <li class="icon"><a href="/admin/"><i class="material-icons left">star</i></a></li>
            </ul>
            {% endif %}
        </div>
    </div>
</nav>